input::placeholder {
  color: #86bab1;
}

textarea::placeholder {
  color: #86bab1;
}

.fundoLogin {
  background-image: url(../../assets/img/imglogin.jpeg);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
